{% extends "base.html" %}
{% block content %}
    <div class="container">
      <form role="form" method="post" action="{{ url_for('lineup_submit') }}">

        <div class="container col-md-12">
          <div class="col-md-12 col-sm-12 col-xs-12"><button type="submit" class="btn btn-primary col-md-2" id="btn-savelineup">Save Lineup</button></div>
          <span class="col-md-12">&nbsp;</span>
          <!--<div class="col-md-2"></div>-->
          <div class="col-md-10">
            <div class="col-md-3 col-sm-4 col-xs-6 formation">Current Formation: 1-5-3-2</div>
            <div class="col-md-1 col-sm-2 col-xs-3"><span class="glyphicon glyphicon-ok collapse in" id="formationvalid"></span><span class="warning glyphicon glyphicon-remove collapse out" id="formationinvalid"></span></div>
            <div class="col-md-4 col-sm-12 col-xs-12">Lineup deadline: <span class="deadline">{{ deadline|datetime_deadline }}</span></div>
          </div>
        </div>

        <hr class="col-md-12">

        <div class="table-responsive col-md-12">
          <table class="table table-condensed">
            <tr>
              <th class="col-md-1">Position</th>
              <th class="col-md-3">Name</th>
              <th class="col-md-2">Team</th>
              <th class="col-md-3">Next Match</th>
              <th class="col-md-2">Form</th>
              <th class="col-md-1">Season</th>
            </tr>
            {% for player in players %}
            <tr class="starterrow collapse {% if player.startingxi == '1' %}in{% else %}out{% endif %}" id="starterrow{{ player._id }}">
              <td><input type="checkbox" class="startercheck" id="startercheck{{ player._id }}" name="startercheck{{ player._id }}"{% if player.startingxi == '1' %} checked="true"{% endif %}> <button type="button" class="btn btn-sm btn-default posicon posicon-{{ player.position }}">{{ player.position }}</button></td>
              <td>{{ player.name }}</td>
              <td>{{ player.club }}</td>
              <td>{{ next_opponents[player.club] }}</td>
              <td>{% for form in player.form %}<span class="label label-{{ form|score_class }}">{{ form }}</span>&nbsp;{% endfor %}</td>
              <td>{{ player.totalscore }}</td>
            </tr>
            {% endfor %}
          </table>

          <h4>Substitutes</h4>

          <table class="table table-condensed">
            <tr>
              <th class="col-md-1">Position</th>
              <th class="col-md-3">Name</th>
              <th class="col-md-2">Team</th>
              <th class="col-md-3">Next Match</th>
              <th class="col-md-2">Form</th>
              <th class="col-md-1">Season</th>
            </tr>
            {% for player in players %}
            <tr class="subrow collapse {% if player.startingxi == '1' %}out{% else %}in{% endif %}" id="subrow{{ player._id }}">
              <td><input type="checkbox" class="subcheck" id="subcheck{{ player._id }}" name="subcheck{{ player._id }}"{% if player.startingxi == '1' %} checked="true"{% endif %}> <button type="button" class="btn btn-sm btn-default posicon posicon-{{ player.position }}">{{ player.position }}</button></td>
              <td>{{ player.name }}</td>
              <td>{{ player.club }}</td>
              <td>{{ next_opponents[player.club] }}</td>
              <td>{% for form in player.form %}<span class="label label-{{ form|score_class }}">{{ form }}</span>&nbsp;{% endfor %}</td>
              <td>{{ player.totalscore }}</td>
            </tr>
            {% endfor %}
          </table>

        </div>

      </form>
    </div>

    <script>
    var TIME_DEADLINE = "{{ deadline.isoformat() }}"
    </script>
{% endblock %}