{% extends "base.html" %}
{% block content %}
<div class="container">
	<form  class="col-md-4" role="form" method="post" action="{{ url_for('login') }}">
		<p>Enter your username and password to log in.</p>
		<div class="form-group">
			<label for="username">Username</label>
			<input class="form-control" type="text" id="username" name="username" autofocus>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input class="form-control" type="password" id="password" name="password">
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" id="rememberme" name="rememberme" checked="true"> remember me</input>
			</label>
		</div>
		<button type="submit" class="btn btn-primary">Log In</button>
	</form>
</div>
<script type="text/javascript">
var PAGENAME = 'login';
</script>
{% endblock %}