{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<iframe width="560" height="315" src="{{ entry.youtube }}" frameborder="0" allowfullscreen></iframe>
	</div>

	{% for playerlist in entry.lists %}
	<div class="col-md-6{% if loop.index == loop.length %}{% if (loop.length % 2) == 1 %} col-md-offset-3{% endif %}{% endif %}">
		<h3>{{ playerlist.title }}</h3>
		<table class="table table-striped">
			{% for player in playerlist.players %}
			<tr>
				<td class="col-md-1"><button type="button" class="btn btn-sm btn-default posicon posicon-{{ player.position }}">{{ player.position }}</button></td>
				<td class="col-md-{% if playerlist.score %}2{% else %}3{% endif %}">{{ player.name }}</td>
				<td class="col-md-2">{{ player.team }}</td>
				{% if playerlist.scores %}<td class="col-md-1">{% if player.score %}<span class="label label-{{ player.score|score_class }}">{{ player.score  }}</span>{% else %}<span class="label label-danger">0</span>{% endif %}</td>{% endif %}
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endfor %}

</div>
<script type="text/javascript">
var PAGENAME = 'reactiondetail';
</script>
{% endblock %}