{% extends 'base.html' %}
{% block content %}
<div class="container">
	<h3>Gameweeks</h3>

	<table class="table table-striped">
		<tr>
			<th class="col-md-1">#</th>
			<th class="col-md-3">Deadline</th>
			<th class="col-md-3">Conclusion</th>
			<th class="col-md-5">Scoring</th>
		</tr>

		{% for gameweek in gameweeks %}
		<tr>
			<td class="col-md-1">{{ gameweek.week }}</th>
			<td class="col-md-3">{{ gameweek.deadline|datetime_deadline }}</th>
			<td class="col-md-3">{{ gameweek.conclusion|datetime_deadline }}</th>
			<td class="col-md-5">{% if gameweek.scored %}completed &nbsp;&mdash;&nbsp; <a href="{{ url_for('openweek', weekno=gameweek.week) }}"><button class="btn btn-sm btn-warning">reopen</button></a>{% else %}<a href="{{ url_for('scoreweek', weekno=gameweek.week) }}"><button class="btn btn-sm btn-primary">score</button></a>&nbsp;<a href="{{ url_for('closeweek', weekno=gameweek.week) }}"><button class="btn btn-sm btn-warning">close</button></a>{% endif %}</th>
		</tr>
		{% endfor %}

	</table>
</div>
{% endblock %}