{% extends 'base.html' %}
{% block content %}
<div class="container">
	<table class="table table-striped">
		<tr>
			<th class="col-md-8">Management Functions</th>
			<th class="col-md-4"></th>
		</tr>
		<tr>
			<td class="col-md-8">Record the lineups for the current week</td>
			<td class="col-md-4"><a href="{{ url_for('record_current_lineups') }}"<button class="btn btn-sm btn-primary">go</button></a></td>
		</tr>
		<tr>
			<td class="col-md=8">Process waivers immediately (ignoring usual timing)</td>
			<td class="col-md-4"><a href="{{ url_for('process_waivers') }}"><button class="btn btn-sm btn-primary">go</button></a></td>
		</tr>
	</table>

	<h3>Register Trade</h3>
	<form role="form" method="post" action="{{ url_for('begin_trade') }}">
		<div class="row">
			<div class="col-md-5"><select id="team1" name="team1" class="team-dropdown form-control">
				{% for team in teams %}<option value="{{ team.name }}">{{ team.name }}</option>{% endfor %}
			</select></div>
			<div class="col-md-5"><select id="team2" name="team2" class="team-dropdown form-control">
				{% for team in teams %}<option value="{{ team.name }}">{{ team.name }}</option>{% endfor %}
			</select></div>
			<div class="col-md-2"><button type="submit" class="btn btn-sm btn-primary">Submit</button></div>
		</div>
	</form>

	<h3>Create Player</h3>
	<form role="form" method="post" action="{{ url_for('create_player') }}">
		<div class="row">
			<div class="col-md-5"><input id="playername" name="playername" class="form-control" placeholder="Player Name"></input></div>
			<div class="col-md-1"><select id="position" name="position" class="position-dropdown form-control">
				<option value="G">G</option>
				<option value="D">D</option>
				<option value="M">M</option>
				<option value="F">F</option>
			</select></div>
			<div class="col-md-5"><select id="club" name="club" class="club-dropdown form-control">
				{% for club in clubs %}<option value="{{ club.name }}">{{ club.name }}</option>{% endfor %}
			</select></div>
			<div class="col-md-1"><button type="submit" class="btn btn-sm btn-primary">Create</button></div>
		</div>
	</form>

	<h3>Transfer Player</h3>
	<form role="form" method="post" action="{{ url_for('transfer_player') }}">
		<div class="row">
			<div class="col-md-6"><input id="transferplayer" name="transferplayer" class="form-control all-players-dropdown" placeholder="Player to transfer"></input></div>
			<div class="col-md-5"><select id="newclub" name="newclub" class="club-dropdown form-control">
				<option value="No PL Club">No PL Club</option>
				{% for club in clubs %}<option value="{{ club.name }}">{{ club.name }}</option>{% endfor %}
			</select></div>
			<div class="col-md-1"><button type="submit" class="btn btn-sm btn-primary">Action</button></div>
		</div>
	</form>

	<h3>Gameweek Scoring</h3>

	<table class="table table-striped">
		<tr>
			<th class="col-md-1">#</th>
			<th class="col-md-3">Deadline</th>
			<th class="col-md-3">Conclusion</th>
			<th class="col-md-2">Completion</th>
			<th class="col-md-3">Scoring</th>
		</tr>

		{% for gameweek in gameweeks %}
		<tr>
			<td class="col-md-1">{{ gameweek.week }}</th>
			<td class="col-md-3">{{ gameweek.deadline|datetime_deadline }}</th>
			<td class="col-md-3">{{ gameweek.conclusion|datetime_deadline }}</th>
			<td class="col-md-2">
				{% if gameweek.completed %}<a href="{{ url_for('changeweek', weekno=gameweek.week, action='activate') }}"><button class="btn btn-sm btn-warning">activate</button></a>
				{% else %}<a href="{{ url_for('changeweek', weekno=gameweek.week, action='complete') }}"><button class="btn btn-sm btn-primary">complete</button></a>{% endif %}
			</td>
			<td class="col-md-3">
				{% if gameweek.scored %}completed &nbsp;&mdash;&nbsp; <a href="{{ url_for('changeweek', weekno=gameweek.week, action='open') }}"><button class="btn btn-sm btn-warning">reopen</button></a>
				{% else %}<a href="{{ url_for('scoreweek', weekno=gameweek.week) }}"><button class="btn btn-sm btn-primary">score</button></a>&nbsp;<a href="{{ url_for('changeweek', weekno=gameweek.week, action='close') }}"><button class="btn btn-sm btn-warning">close</button></a>{% endif %}
			</td>
		</tr>
		{% endfor %}

	</table>
</div>

<script type="text/javascript">
	var JSON_ALL_PLAYERS = "{{ url_for('json_all_players') }}";
</script>
{% endblock %}