{% extends 'base.html' %}
{% block content %}
<div class="container">
	<h3>Create Player</h3>
	<form role="form" method="post" action="{{ url_for('create_player') }}">
		<div class="row">
			<div class="col-md-5"><input id="playername" name="playername" class="form-control" placeholder="Player Name"></input></div>
			<div class="col-md-1"><select id="position" name="position" class="position-dropdown form-control">
				<option value="G">G</option>
				<option value="D">D</option>
				<option value="M">M</option>
				<option value="F">F</option>
			</select></div>
			<div class="col-md-5"><select id="club" name="club" class="club-dropdown form-control">
				{% for club in clubs %}<option value="{{ club.name }}">{{ club.name }}</option>{% endfor %}
			</select></div>
			<div class="col-md-1"><button type="submit" class="btn btn-primary">Create</button></div>
		</div>
	</form>

	<h3>Gameweeks</h3>

	<table class="table table-striped">
		<tr>
			<th class="col-md-1">#</th>
			<th class="col-md-3">Deadline</th>
			<th class="col-md-3">Conclusion</th>
			<th class="col-md-5">Scoring</th>
		</tr>

		{% for gameweek in gameweeks %}
		<tr>
			<td class="col-md-1">{{ gameweek.week }}</th>
			<td class="col-md-3">{{ gameweek.deadline|datetime_deadline }}</th>
			<td class="col-md-3">{{ gameweek.conclusion|datetime_deadline }}</th>
			<td class="col-md-5">{% if gameweek.scored %}completed &nbsp;&mdash;&nbsp; <a href="{{ url_for('openweek', weekno=gameweek.week) }}"><button class="btn btn-sm btn-warning">reopen</button></a>{% else %}<a href="{{ url_for('scoreweek', weekno=gameweek.week) }}"><button class="btn btn-sm btn-primary">score</button></a>&nbsp;<a href="{{ url_for('closeweek', weekno=gameweek.week) }}"><button class="btn btn-sm btn-warning">close</button></a>{% endif %}</th>
		</tr>
		{% endfor %}

	</table>
</div>
{% endblock %}