{% extends 'base.html' %}
{% block content %}
<div class="container">
	<table class="table table-striped">
		<tr>
			<th class="col-md-1">#</th>
			<th class="col-md-3">Team</th>
			<th class="col-md-1">P</th>
			<th class="col-md-1">W</th>
			<th class="col-md-1">D</th>
			<th class="col-md-1">L</th>
			<th class="col-md-1">Pts</th>
			<th class="col-md-1">Score</th>
		</tr>
		{% for team in teams %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ team.name }}</td>
			<td>{{ team.wins + team.losses + team.draws }}
			<td>{{ team.wins }}</td>
			<td>{{ team.draws }}</td>
			<td>{{ team.losses }}</td>
			<td>{{ team.points }}</td>
			<td>{{ team.score }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}