{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated() %}
<div class="container">
	<p><h3>Waiver Claims</h3></p>

	{% if current_claims %}
	<p>The next waiver deadline is <strong class="deadline">{{ waiver_deadline|datetime_deadline }}</strong>. At that point in time, the system will attempt to make the following changes to your lineup in the order specified:</p>

	<div class="col-md-12">
		<form role="form" method="post" action="{{ url_for('update_waiver_order') }}">
			<button type="submit" class="btn btn-primary btn-waivers col-md-2 disabled">Save</button>
			<span class="col-md-1 hidden-sm hidden-xs"></span>
			<a href="{{ url_for('waiver_claims') }}">
				<button type="button" class="btn btn-default btn-waivers col-md-2 disabled">Cancel</button>
			</a>
			<input class="hidden" id="priorities" name="priorities"></input>
		</form>
	</div>

	<hr class="col-md-12">

	<div class="col-md-12">
		<table class="table col-md-12" id="waiverclaims">
			<tr class="waiverclaimheadings">
				<th class="col-md-1">#</th>
				<th class="col-md-4" colspan="2">Add Player</th>
				<th class="col-md-4" colspan="2">Drop Player</th>
				<th class="col-md-3">Re-order / Cancel</th>
			</tr>
			{% for claim in current_claims %}
			<tr id="waiverclaim{{ loop.index }}">
				<td class="claimno col-md-1">{{ loop.index }}</td>
				<td class="col-md-1"><button class="btn btn-sm btn-default posicon posicon-{{ claim.add.position }}">{{ claim.add.position }}</button></td>
				<td class="col-md-3">{{ claim.add.name }}</td>
				<td class="col-md-1"><button class="btn btn-sm btn-default posicon posicon-{{ claim.drop.position }}">{{ claim.drop.position}}</button></td>
				<td class="col-md-3">{{ claim.drop.name }}</td>
				<td class="col-md-3">
					<button class="btn btn-sm btn-default" onclick="moveUp({{ loop.index }})"><span class="glyphicon glyphicon-arrow-up"></span></button>&nbsp;
					<button class="btn btn-sm btn-default" onclick="moveDown({{ loop.index }})"><span class="glyphicon glyphicon-arrow-down"></span></button>&nbsp;
					<button class="btn btn-sm btn-default" onclick="removeRow({{ loop.index }})"><span class="glyphicon glyphicon-trash"></span></button>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% else %}
	<p>You have no active waiver claims.</p>
	{% endif %}
</div>
{% endif %}

<div class="container">

	<p><h3>Previous Claims</h3></p>

	<ul class="pagination col-md-2">
		{% if current_user.is_authenticated() %}
		<li{% if view == 'own' %} class="active"{% endif %}><span><a href="{{ url_for('waiver_claims', week=week_pagination.current, view='own') }}">Yours</a></span></li>
		<li{% if view == 'league' %} class="active"{% endif %}><span><a href="{{ url_for('waiver_claims', week=week_pagination.current, view='league') }}">League</a></span></li>
		{% else %}
		<li class="disabled"><span>Yours</span></li>
		<li{% if view == 'league' %} class="active"{% endif %}><span><a href="{{ url_for('waiver_claims', week=week_pagination.current, view='league') }}">League</a></span></li>
		{% endif %}
	</ul>

	<ul class="pagination col-md-10">
		{% if week_pagination.prev %}<li><a href="{{ url_for('waiver_claims', week=week_pagination.current - 1, view=view) }}">&laquo;</a></li>{% else %}<li class="disabled"><span>&laquo;</span></li>{% endif %}
		{% for pg in week_pagination.pages %}
			{% if pg > week_pagination.pagecount %}
			<li class="disabled"><span>{{ pg }}</span></li>
			{% else %}
			<li{% if pg == week_pagination.current %} class="active"{% endif %}><a href="{{ url_for('waiver_claims', week=pg, view=view) }}">{{ pg }}</a></li>
			{% endif %}
		{% endfor %}
		{% if week_pagination.next %}<li><a href="{{ url_for('waiver_claims', week=week_pagination.current + 1, view=view) }}">&raquo;</a></li>{% else %}<li class="disabled"><span>&raquo;</span></li>{% endif %}
	</ul>

	{% if prev_claims %}
	<div class="col-md-12">
		<table class="table col-md-12">
			<tr>
				<th class="col-md-4" colspan="2">Add Player</th>
				<th class="col-md-4" colspan="2">Drop Player</th>
				<th class="col-md-3" colspan="2">{% if view == 'league' %}Team{% else %}Outcome{% endif %}</th>
			</tr>
			{% for claim in prev_claims %}
			<tr>
				<td class="col-md-1"><button class="btn btn-sm btn-default posicon posicon-{{ claim.add.position }}">{{ claim.add.position }}</button></td>
				<td class="col-md-3">{{ claim.add.name }}</td>
				<td class="col-md-1"><button class="btn btn-sm btn-default posicon posicon-{{ claim.drop.position }}">{{ claim.drop.position}}</button></td>
				<td class="col-md-3">{{ claim.drop.name }}</td>
				<td class="col-md-1">{% if view == 'league' %}{{ claim.username }}{% else %}<span class="label label-{{ claim.status|status_class }}">{{ claim.status }}</span>{% endif %}
				<td class="col-md-2">{{ claim.whynot }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}
	{% if trades %}
	<div class="col-md-12">
		<table class="table col-md-12">
			<tr>
				<th class="col-md-2">Tradee</th>
				<th class="col-md-4" colspan="2">Gives</th>
				<th class="col-md-4" colspan="2">Receives</th>
				<th class="col-md-2">From</th>
			</tr>
			{% for trade in trades %}
				{% if trade.firstplayer|length >= trade.secondplayer|length %}{% set largerlist = trade.firstplayer %}{% else %}{% set largerlist = trade.secondplayer %}{% endif %}
				{% for player in largerlist %}
				<tr>
					{% set give = trade.firstplayer[loop.index - 1] %}{% set receive = trade.secondplayer[loop.index - 1] %}
					<td class="col-md-2">{% if loop.index == 1 %}{{ trade.first.name }}{% endif %}</td>
					<td class="col-md-1"><button class="btn btn-sm btn-default posicon-{{ give.position }}">{{ give.position }}</button></td>
					<td class="col-md-2">{{ give.name }}</td>
					<td class="col-md-1"><button class="btn btn-sm btn-default posicon-{{ receive.position }}">{{ receive.position }}</button></td>
					<td class="col-md-2">{{ receive.name }}</td>
					<td class="col-md-2">{% if loop.index == 1 %}{{ trade.second.name }}{% endif %}</td>
				</tr>
				{% endfor %}
			{% endfor %}
		</table>
	</div>
	{% endif %}

</div>

<script>
var PAGENAME = 'waivers';
var TIME_DEADLINE = "{{ waiver_deadline.isoformat() }}";
</script>
{% endblock %}